[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
ipython = "*"

[packages]
autopy = "*"
pyrow = {editable = true,git = "https://github.com/droogmic/Py3Row.git"}
pyserial = "*"
pandas = "*"
tk = "*"
pyttsx3 = "*"

[requires]
python_version = "3.6"
